[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/vuljector/abseil-cpp
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/vuljector/benchmark
[submodule "third_party/bloaty"]
	path = third_party/bloaty
	url = https://github.com/vuljector/bloaty
[submodule "third_party/boringssl-with-bazel"]
	path = third_party/boringssl-with-bazel
	url = https://github.com/vuljector/boringssl
[submodule "third_party/cares/cares"]
	path = third_party/cares/cares
	url = https://github.com/vuljector/c-ares
[submodule "third_party/envoy-api"]
	path = third_party/envoy-api
	url = https://github.com/vuljector/data-plane-api
[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = https://github.com/vuljector/googleapis
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/vuljector/googletest
[submodule "third_party/opencensus-proto"]
	path = third_party/opencensus-proto
	url = https://github.com/vuljector/opencensus-proto
[submodule "third_party/opentelemetry"]
	path = third_party/opentelemetry
	url = https://github.com/vuljector/opentelemetry-proto
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/vuljector/protobuf
[submodule "third_party/protoc-gen-validate"]
	path = third_party/protoc-gen-validate
	url = https://github.com/vuljector/protoc-gen-validate
[submodule "third_party/re2"]
	path = third_party/re2
	url = https://github.com/vuljector/re2
[submodule "third_party/xds"]
	path = third_party/xds
	url = https://github.com/vuljector/xds
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/vuljector/zlib
	# When using CMake to build, the zlib submodule ends up with a
	# generated file that makes Git consider the submodule dirty. This
	# state can be ignored for day-to-day development on gRPC.
	ignore = dirty
[submodule "third_party/opentelemetry-cpp"]
	path = third_party/opentelemetry-cpp
	url = https://github.com/vuljector/opentelemetry-cpp
[submodule "third_party/cel-spec"]
	path = third_party/cel-spec
	url = https://github.com/vuljector/cel-spec
